<div class="columns">
    <div class="column is-narrow">
        <!-- Account for image being undefined OR null -->
        <figure *ngIf="!news.urlToImage || news.urlToImage == 'null'" class="image">
            <img class="image" src="assets/img/no-image.jpg" alt="no image">
        </figure>
        <figure *ngIf="news.urlToImage && news.urlToImage != 'null'" class="image">
            <img src="{{ news.urlToImage }}" alt="{{ news.title }}">
        </figure>
    </div>
    <div class="column">
        <div class="content">
            <h3 class="title is-3">{{ news.title }}</h3>
            <p class="subtitle heading"><span *ngIf="news.author">by {{news.author}} | </span>{{ news.publishedAt | date:'medium' }}</p>
            <p>{{ news.content | slice:0:180 }}...</p>
            <a class="button is-primary is-small is-outlined" href="{{ news.url }}" target="_blank" rel="noopener">&rarr; Read more</a>
        </div>
    </div>
</div>
